<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <title>You Planet</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
  <script src="https://kevingleason.me/SimpleRTC/js/webrtc.js"></script>
  <style>
    body {
      background-color: #f7f7f7
    }

    #vid-box>video {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #start-session {
      position: absolute;
      top: 60%;
      left: 50%;
      width: 212px;
      height: 54px;
      margin-top: -27px;
      margin-left: -106px;
    }

    #waiting-another-end {
      position: absolute;
      top: 60%;
      left: 50%;
      font-size: 20px;
      width: 200px;
      height: 30px;
      margin-top: -15px;
      margin-left: -100px;
    }

    #logo {
      width: 100%;
      margin-top: calc(100% - 250px);
    }

    #debug {
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>
</head>

<body>
  <img id="logo" src="/logo.jpeg"></img>
  <div id="vid-box"></div>
  <div id="waiting-another-end">Waiting for therapist</div>
  <button class="waves-effect waves-light btn-large" id="start-session">Start the session</button>
  <div id="debug"></div>
  <script>
    function httpGet(theUrl) {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", theUrl, false); // false for synchronous request
      xmlHttp.send(null);
      return xmlHttp.responseText;
    }

    function checkAnotherEndReady() {
      var startSessionButton = document.getElementById("start-session");
      var waitingAnotherEndLabel = document.getElementById("waiting-another-end");
      var anotherEndReady = httpGet("https://" + window.location.host + "/session/anotherEndReady" + window.location.pathname.substring('/session'.length));
      console.log('another end ready?', anotherEndReady);
      if (anotherEndReady == "Ready") {
        clearInterval(interval)
        clearInterval(changeWaitingLabel)
        waitingAnotherEndLabel.style.visibility = "hidden"
        startSessionButton.style.visibility = "unset"
      } else {
        startSessionButton.style.visibility = "hidden"
        waitingAnotherEndLabel.style.visibility = "unset"
      }
    }

    function changeWaitingLabel() {
      var waitingAnotherEndLabel = document.getElementById("waiting-another-end");
      switch (waitingAnotherEndLabel.innerText) {
        case 'Waiting for therapist':
          waitingAnotherEndLabel.innerText = 'Waiting for therapist.'
          break
        case 'Waiting for therapist.':
          waitingAnotherEndLabel.innerText = 'Waiting for therapist..'
          break
        case 'Waiting for therapist..':
          waitingAnotherEndLabel.innerText = 'Waiting for therapist...'
          break
        case 'Waiting for therapist...':
          waitingAnotherEndLabel.innerText = 'Waiting for therapist'
          break
      }
    }

    var interval = setInterval(checkAnotherEndReady, 1000);
    var changLabelInterval = setInterval(changeWaitingLabel, 400);
    checkAnotherEndReady();
    var startSessionButton = document.getElementById("start-session");
    var waitingAnotherEndLabel = document.getElementById("waiting-another-end");

    var video_out = document.getElementById("vid-box");
    var phone = window.phone = PHONE({
      number: "{{ userid }}",
      publish_key: 'pub-c-ce24c8ee-da68-48eb-a915-15631f1602e1',
      subscribe_key: 'sub-c-d0ecec70-76b1-11e8-a4a6-464114960942',
    });
    phone.ready(function () {
      document.getElementById('debug').innerText = ('joined ' + httpGet("https://" + window.location.host + "/session/join" + window.location.pathname.substring('/session'.length)));
    });
    phone.receive(function (session) {
      startSessionButton.style.visibility = "hidden"
      waitingAnotherEndLabel.style.visibility = "hidden"
      session.connected(function (session) { console.log(session.video); video_out.appendChild(session.video); });
      session.ended(function (session) { video_out.innerHTML = ''; });
    });
    startSessionButton.onclick = function (e) {
      startSessionButton.style.visibility = "hidden"
      phone.dial("{{ another_end_userid }}");
    }

    window.onbeforeunload = function (e) {
      console.log('leaved', httpGet("https://" + window.location.host + "/session/leave" + window.location.pathname.substring('/session'.length)));
    }
  </script>
</body>

</html>